/* stylesheet with "the default" styles for my website && all theme related stuff && variables */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
:root { /* javascript handles the colors */ /* the previous comment is outdated, it no longer does as i discovered the magic of "@media". */ /* nevermind it is no longer outdated, i brought back the usage of js */ /* jAVA SCRIPTTTTTTTTT */ /* yes i have changed my mind again i am using @media, one reason of them being the projects having to be stand-alone */ /* yet another comment i dont even know why im adding another one this is long enought already */
	--background-color: #EEE; /* color to be used in the background. */
	--medium-color: #888; /* color to be used as a neutral color, but different from --inactive-color */
	--text-color: #222; /* color to be used in contrast with the background. May not necesarily be text. */

	--primary-color: hsl(0, 100%, 45%); /* color to be used as the primary color */
	--special-color: hsl(340, 100%, 45%); /* another related color to be used alternatively */
	
	--active-color: hsl(120, 100%, 45%); /* color to be used when active */
	--passive-color: hsl(200, 100%, 45%); /* color to be used when not active but engaged */
	--inactive-color: hsl(280, 100%, 45%); /* color to be used when not active and not engaged */
	
	scroll-behavior: smooth;

	/* tanks to https://stackoverflow.com/a/27863181 */
	--circular-ease-out: cubic-bezier(0, .552284749831, .552284749831, 1); /* top left part of circle where x=time (ltr) & y=progress (dtu) */
	--circular-ease-in: cubic-bezier(.552284749831, 0, 1, .552284749831); /* bottom right circle */
	--sine: cubic-bezier(.5, 0, .5, 1);  /* sin(x) + x */
	--half-sine: cubic-bezier(.5, 1, .5, 0); /* sin(x) + x */
}
@media (prefers-color-scheme: dark) {
	:root {
		--background-color: #222;
		--medium-color: #666;
		--text-color: #DDD;

		--primary-color: hsl(0, 100%, 60%);
		--special-color: hsl(340, 100%, 60%);

		--active-color: hsl(120, 100%, 60%);
		--passive-color: hsl(200, 100%, 60%);
		--inactive-color: hsl(280, 100%, 60%);
	}
}


/* @font-face {
	font-family: Rubik;
	src: url("../fonts/Rubik/Rubik.ttf");
} */

/* default elements ---------------------------------------------------------------- */

body {
	font-family: Rubik, sans-serif;
	background-color: var(--background-color);
	color: var(--text-color);
	height: 100vh;
	/* width: 100vw; */
	margin: 0;
	padding: 0 calc(10vw + 25px);
	padding-top: calc(5vh + 5px);
	transition: ease-in-out;
}
*::selection {
	background-color: color-mix(in oklab, var(--special-color), var(--background-color) 20%);
	color: var(--text-color);
}

h1, h2, h3, h4, p {
	text-align: center;
	display: block;
}
	h1, .heading1 { font-size: calc(5vh + 20px); }
	h2, .heading2 { font-size: calc(4.5vh + 20px); }
	h3, .heading3 { font-size: calc(4vh + 20px); }
	/* h4, .heading4 { font-size: calc(3.5vh + 20px); } */
	/* h5, .heading5 { font-size: calc(2.5vh + 15px); } */
	p, .paragraph, button { font-size: calc(2.5vh + 5px); }
	ul, ol, .unordered-list, .ordered-list { font-size: calc(2vh + 5px); }
	a, .anchor {
		font-size: calc(1em);
		color: color-mix(in oklab, var(--passive-color) 100%, var(--text-color) 25%);
	}
	a:active, .anchor:active { color: color-mix(in oklab, var(--active-color) 100%, var(--text-color) 25%); }
	a:visited, .anchor:visited { color: color-mix(in oklab, var(--inactive-color) 100%, var(--text-color) 25%); }
	small, .small {
		font-size: 0.625em;
		/* font-weight: bolder; */
	}
img { user-select: none; }

.smallish {
	font-size: 1em;
}
.big { font-size: 1.475em; }
.strike { text-decoration: line-through; }
button, .button { cursor: pointer; }
/* button {
	color: var(--text-color);
	background-color: color-mix(in oklab, var(--background-color), black 2.5%);
	border: 1vh solid color-mix(in oklab, var(--background-color), var(--text-color) 20%);
} */

/* misc ---------------------------------------------------------------- */
.under {
	font-size: 0.75rem;
	display: inline;
	position: relative;
	top: 1rem;
}

.font-calibri { font-family: Calibri; }
.font-rubik { font-family: Rubik; }

.wide { width: 100%; }
.flex { display: flex; }

.primary { color: var(--primary-color); }
.lime { color: var(--lime); }
.blue { color: var(--blue); }

/* .warn { color: red; } */